body{
  text-align: center;
  background-color: #011F3F;
  color: white;
}

.btn{
  height: 200px;
  width: 200px;
  margin: 25px;
  border: 10px solid black;
  display: inline-block;
  border-radius : 25%;
}
/* .row{
  margin: 10px;
} */
.red{
  background-color: red;
}
.blue{
  background-color: blue;
}
.green{
  background-color: green;
}
.yellow{
  background-color: yellow;
}
.pressed{
  box-shadow: 0 0 30px white;
   background-color: grey;
}
.font{
  font-size: 3rem;
  font-family: 'Press Start 2P', cursive;


}
.foot{
  font-size: 1rem;
  margin-top: 88px;
}
